<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>
  <div><%= f.label :username %><br />
    <%= f.text_field :username%></div>
  <% if f.object.password_required? %>
  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  <% end %>
  <div>Option: Agent Uniq Name<br />
    <%= f.text_field :agent_identifier%></div>
  <div>Option: Agent License<br />
    <%= f.text_field :agent_license_id%></div>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<h3 class="wechat_login">
  <span class='wechat_icon'></span>
  <span class='wechat_h3'>经纪人请扫描此二维码完成快速注册,扫描后可以关闭对话框</span>
</h3>
<img src="../shared_qr/agent_signup.png" align="middle" height="150" width="150")></img><br/>

<%= render "devise/shared/links" %>
