# encoding: utf-8
<h3><%=@customer.nickname %> </h3>
<img src=<%= @customer.head_img_url%> width='100px'></img>
<% search = if @customer.search
              JSON.parse(@customer.search)
            else
              {}
            end
%>

<%= form_tag("/agent/save_customer_search", method: "post") do %>
  <%= label_tag(:city, "城市") %>
  <%= text_field_tag(:regionValue, search['regionValue']) %>
  <%= label_tag(:priceMin, "最低价（万）") %>
  <%= text_field_tag(:priceMin, search['priceMin']) %>
  <%= label_tag(:priceMax, "最高价（万）") %>
  <%= text_field_tag(:priceMax, search['priceMax']) %>
  <%= label_tag(:bedNum, "房间数") %>
  <%= text_field_tag(:bedNum, search['bedNum']) %>
  <%= hidden_field_tag(:agent_id, @agent_id) %>
  <%= hidden_field_tag(:customer_id, @customer.id) %>
  <%= submit_tag("保存") %>
<% end %>