<xml>
<ToUserName><![CDATA[<%= @msg_hash[:from_username] %>]]></ToUserName>
<FromUserName><![CDATA[<%= @msg_hash[:to_username] %>]]></FromUserName>
<CreateTime><![CDATA[<%= Time.now.to_i %>]]></CreateTime>
<MsgType><![CDATA[news]]></MsgType>
<ArticleCount><%= @msg_hash[:items].size%></ArticleCount>
<Articles>
<% @msg_hash[:items].each do |item| %>
<item>
  <Title>
    <![CDATA[<%= item[:title] %>]]>
  </Title>
  <Description>
    <![CDATA[<%= item[:body] %>]]>
  </Description>
  <PicUrl>
    <![CDATA[<%= item[:pic_url] %>]]>
  </PicUrl>
  <Url>
    <![CDATA[<%= item[:url] %>]]>
  </Url>
</item>
<% end %>
</Articles>
</xml>