<a href= <%="#{CLIENT_HOST}"%> > Go Back </a>

<% if user_signed_in? %>
  <% current_user.attributes.each do |k, v| %>
    <%= k %>  is <%= v %>
  <br>
  <% end %>
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <% redirect_to "#{CLIENT_HOST}" %>
<% end %>

